mixin check-form(className)
    form(class=`check-form ${className}` action="#") 
        .check-form__inner.container
            .check-select.check-form__select.check-form__select--date 
                span.check-select__text check in
                input(type="date").check-select__input
                +svg('images/sprite.svg', 'angle-down')(class='check-select__angle')
            .check-select.check-form__select.check-form__select--days 
                .check-select__trigger.js-select-trigger
                    span.check-select__text check in
                    span.check-select__input 1
                    +svg('images/sprite.svg', 'angle-down')(class='check-select__angle')
                .check-select__options.js-option 
                    .check-select__option.check-select__option--is-active 1
                    .check-select__option 2
                    .check-select__option 3
                    .check-select__option 4
            .check-select.check-form__select.check-form__select--date 
                span.check-select__text check in
                input(type="date").check-select__input
                +svg('images/sprite.svg', 'angle-down')(class='check-select__angle')
            .check-select.check-form__select.check-form__select--adults 
                .check-select__trigger.js-select-trigger
                    span.check-select__text check in
                    span.check-select__input 1
                    +svg('images/sprite.svg', 'angle-down')(class='check-select__angle')
                .check-select__options.js-option  
                    .check-select__option.check-select__option--is-active 1
                    .check-select__option 2
                    .check-select__option 3
                    .check-select__option 4
            .check-select.check-form__select.check-form__select--children 
                .check-select__trigger.js-select-trigger
                    span.check-select__text check in
                    span.check-select__input 1
                    +svg('images/sprite.svg', 'angle-down')(class='check-select__angle')
                .check-select__options.js-option  
                    .check-select__option.check-select__option--is-active 1
                    .check-select__option 2
                    .check-select__option 3
                    .check-select__option 4
            button.button.button--size-md.button--theme-lighter.check-form__btn
                span.button__text check availability