mixin content-head(title, imgFile)
    section.content-head
        h1.h1.h1.h1--size-md.h1--center.content-head__title
            span.h1__text= title
        .content-head-img.content-head__img 
            img(src=`images/${imgFile}.png`, alt="...").content-head-img__file
