mixin footer(className)
  footer(class=`footer ${className}`)
    .footer__inner.container 
      span(href="#").logo.footer__logo
        img.logo__img(src="images/logo.svg", alt="logo")
      ul.footer-list.footer__list 
        - const fItems = [{title: 'About Hotel', links: ['About Spleldid Hotel', 'Contact details']}, {title: 'Bookings', links: ['Find reservations', 'Events']}, {title: 'News', links: ['Press center', 'Instagram']}, {title: 'More details', links: ['Press center', 'Other']}];
        each fItem in fItems 
          li.footer-list-item.footer-list__item 
            h3.footer-list-item__title= fItem.title 
            .footer-list-item__links 
            each link in fItem.links 
              a(href="#").footer-list-item__link= link 
      .footer__block 
        .socials.footer__socials
          - const socials = ['icon-facebook', 'icon-twitter', 'icon-instagram' ];
          each social in socials
            a(href="#" class=`socials__link socials__link--${social.split('-')[1]}`)
              +svg('images/sprite.svg', `${social}`)(class='socials__icon')
        ul.lang-switch.lang-switch--footer.footer__lang
          li.lang-switch__item
            span.lang-switch__text english
            span.lang-switch__caret

            ul.lang-list.lang-switch__list
              li.lang-list__item
                span.lang-list__text ru
              li.lang-list__item
                span.lang-list__text en
              li.lang-list__item
                span.lang-list__text fr
      nav.nav.nav--footer.footer__nav 
        ul.nav__list
          - const fLinks = ['Legal Notice', 'Privacy Policy', 'Cookie Preferences', 'Accessibility Policy'];
          each fLink in fLinks
            li.nav__item
              a(href="#").nav__link= fLink 
      p.footer__copyright ©Splendid Hotels Limited 1997-2021. All Rights Reserved. 
