mixin header(className)
  header(class=`header js-header ${className}`)
    .header__inner.container
      a(href="tel:+310785063356").header-phone.header__phone + 310 78 506 33 56
      a(href="#").logo.header__logo
        img.logo__img(src="images/logo.svg", alt="logo")

      nav.nav.header__nav.js-nav
        .nav__top
          a(href="#").logo.logo--mobile.nav__logo
            img.logo__img(src="images/logo-mobile.svg", alt="logo")
          button(role="burger").burger.nav__burger
            +svg('images/sprite.svg', 'close')

        ul.lang-switch.nav__lang
          li.lang-switch__item
            +svg('images/sprite.svg', 'angle-down')(class='lang-switch__angle')
            span.lang-switch__text ru

            ul.lang-list.lang-switch__list
              li.lang-list__item
                span.lang-list__text ru
              li.lang-list__item
                span.lang-list__text en
              li.lang-list__item
                span.lang-list__text fr
        .nav-menu.nav__menu
          - const links = ['The Hotel', 'Booking', 'Sauna & Spa', 'Restaurant & Bar', 'Gallery', 'Our History', 'Meetings', 'Local Area', 'News', 'Weddings & Honeymoons', 'Careers', 'Contact us']
          ul.nav-list.nav-menu__item
            each link in links
              li.nav-list__item
                a.nav-list__link(href="#")= link



      button(role="burger").burger.header__burger.js-burger
        span.burger__item
        span.burger__item
        span.burger__item



