mixin news-item(opt)
    div(class=`news-item ${opt.className}` data-category=`${opt.category}`)
        .news-item__top 
            .news-item-img.news-item__img
                img(src=`images/${opt.imgFile}.png`, alt="...").news-item-img__file
            .news-item__info 
                span.news-item__name= opt.name
                span.news-item__line  - 
                time.news-item__time= opt.time
        p.news-item__desc= opt.desc