mixin text-item(opt)
    div(class=`text-item ${opt.className}`)
        .text-item-img.text-item__img 
            img(src=`images/${opt.imgFile}.png`, alt="").text-item-img__file
        .text-item__info 
            .info.info--text-item 
                h2.h2.h2--size-md.h2--theme-dark.info__title
                    each title in opt.title
                        span.h2__text= title
                p.text.text--size-md.text--theme-dark.info__desc= opt.desc