.burger {
  $self: &;
  position: relative;
  width: 40px;
  height: 22px;
  border: none;
  background-color: transparent;

  &--is-open {
    #{$self}__item {

      &:nth-child(1) {
        top: auto;
        transform: rotate(45deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        bottom: auto;
        transform: rotate(-45deg);
      }
    }
  }

  &__item {
    position: absolute;
    left: 0;
    display: inline-block;
    width: 40px;
    height: 2px;
    background-color: $neutral-light;
    transition: all 0.4s cubic-bezier(.44,.45,.72,.71);

    &:nth-child(1) {
      top: 0px;
    }

    &:nth-child(2) {
      top: 10px;
      transition: all 0.2s cubic-bezier(.44,.45,.72,.71);
    }

    &:nth-child(3) {
      bottom: 0;
    }
  }
}
