.button {
  $self: &;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  transition: all 0.4s;

  &--size-md {
    min-width: 240px;
    padding: 18px 0 16px;
  }

  &--theme {
    &-dark {
    }

    &-lighter {
      background: rgba($neutral-light, 0.9);

      &:hover {
        background: rgba($neutral-dark, 0.5);

        #{$self}__text {
          color: $neutral-light;
        }
      }
    }
  }

  &__text {
    display: inline-block;
    color: $neutral-dark;
    font-family: $main_font_family;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2px;
  }
}
