.c-filter {
  display: flex;

  &__item {
    margin: 0 20px;

    &:first-child {
      margin-left: 0;
    }
  }

  &__link {
    color: $neutral-dark;
    font-family: $main_font_family;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 2px;
    text-decoration: none;
    transition: opacity 0.4s;

    &:hover {
      opacity: 0.8;
    }

    &--is-active {
      font-weight: bold;
    }
  }
}
