.c-form {
  padding: 82px 0 26px;
  background-color: $neutral-dark;

  &__item {
  }
}

.check-form {
  &__inner {
    display: flex;
    align-items: center;
  }

  &__select {
    margin-right: 28px;
    min-height: 28px;
    max-height: 28px;

    &--date {
      flex: 0 0 260px;
    }

    &--days,
    &--adults,
    &--children {
      flex: 0 0 180px;
    }

    &--adults {
    }

    &--children {
    }
  }

  &__btn {
  }
}

.check-select {
  $self: &;
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $neutral-light;

  &--is-open {
    #{$self}__angle {
      transform: translateY(-50%) rotate(180deg);
    }

    #{$self}__options {
      opacity: 1;
      visibility: visible;
    }
  }

  &__trigger {
    width: 100%;
    cursor: pointer;
  }

  &__text,
  &__input,
  &__option {
    font-family: $main_font_family;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
  }

  &__text,
  &__input {
    color: $neutral-light;
    line-height: 28px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
  }

  &__text {
    display: inline-block;
    margin-right: 24px;
  }

  &__input {
    &.is-hidden {
      display: none;
    }
  }

  &__angle {
    position: absolute;
    top: 50%;
    right: 0;
    display: inline-block;
    flex: 0 0 7px;
    width: 7px;
    height: 5px;
    margin-left: auto;
    transform: translateY(-50%);
    transition: transform 0.4s;
  }

  &__options {
    position: absolute;
    top: calc(100% - -18px);
    right: 0;
    min-width: 128px;
    border-radius: 5px;
    background: $neutral-light;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s, visibility 0.4s;
    z-index: 1;

    &::before {
      content: '';
      position: absolute;
      top: -8px;
      left: 50%;
      width: 17px;
      height: 17px;
      background: $neutral-light;
      transform: translateX(-50%) rotate(45deg);
      z-index: 0;
    }
  }

  &__option {
    position: relative;
    padding: 7px 0;
    color: $near-neutral-dark;
    line-height: 22px;
    text-align: center;
    cursor: pointer;
    transition: opacity 0.4s;
    z-index: 1;

    &:hover {
      opacity: 0.8;
    }

    &:first-child {
      border-radius: 5px 5px 0 0;
    }

    &:last-child {
      border-radius: 0 0 5px 5px;
    }

    &--is-active {
      background-color: $near-neutral-dark;
      color: $neutral-light;
      pointer-events: none;
    }
  }

  .datetimepicker {
    $self: &;
    top: calc(100% - -18px);
    left: -14px;
    min-width: 288px;
    padding: 25px 18px;
    border-radius: 5px;
    z-index: 99;

    &.is-datetimepicker-default {
      .datetimepicker-container {
        &::before,
        &::after {
          left: 50%;
          border-bottom-color: $neutral-light;
        }
      }
    }

    &.is-primary {
      .datepicker-nav {
        background-color: $neutral-light;
      }

      .datepicker-body {
        .datepicker-dates {
          .datepicker-days {
            .datepicker-date {
              .date-item {
                &:hover {
                  border: none;
                }

                &.is-active {
                  border: none;
                  border-radius: 0;
                  background: $near-neutral-dark;
                }

                &.is-today {
                  border: none;
                  color: $near-neutral-dark;
                }
              }
            }
          }
        }
      }
    }

    &-footer,
    &-header {
      &.is-hidden {
        display: none;
      }
    }

    .datepicker-nav {
      padding: 0 10px;
      border-radius: 5px 5px 0 0;

      .datepicker-nav-previous,
      .datepicker-nav-next {
        background-color: transparent;
        color: $near-neutral-dark;
      }

      .datepicker-nav-month,
      .datepicker-nav-year {
        color: $near-neutral-dark;
        font-family: $main_font_family;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
      }
    }

    .datepicker-body {
      border-radius: 0 0 5px 5px;

      .datepicker-weekdays {
        padding: 20px 0 12px;
        .datepicker-date {
          padding: 0;
          color: #aaa;
          font-family: $main_font_family;
          font-style: normal;
          font-weight: 500;
          font-size: 10px;
          line-height: 12px;
          letter-spacing: 0.48px;
          text-transform: uppercase;
        }
      }

      .datepicker-days {
        .datepicker-date {
          .date-item {
            padding: 7px;
            color: $near-neutral-dark;
            font-family: $main_font_family;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
            text-align: center;
          }
        }
      }
    }
  }

  .datetimepicker-dummy {
    $self: &;
    max-width: 100px;

    &.is-primary {
      .datetimepicker-dummy-wrapper {
        &:focus,
        &:active {
          border: none;
          box-shadow: none;
        }

        &.is-active {
          border-color: transparent;
          box-shadow: none;
        }
      }
    }

    &-wrapper {
      padding: 0;
      border: none;
      background-color: transparent;

      &::before {
        display: none;
      }

      .datetimepicker-dummy-input {
        width: 100%;
        color: $neutral-light;
        font-family: $main_font_family;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 28px;
        letter-spacing: 0.2px;
        text-transform: uppercase;

        &:first-child {
          text-indent: 0;
        }

        &:focus,
        &:active {
          outline: none;
          border: none;
        }
      }
    }

    .datetimepicker-clear-button {
      display: none;
    }
  }
}
