.content-head {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 260px 0 130px;

  &__title {
    position: relative;
    z-index: 1;
  }

  &__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.content-head-img {
  &__file {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
