.footer {
  padding: 52px 0 20px;
  background-color: $neutral-dark;

  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__logo {
    margin: 0 auto;
  }

  &__list {
    margin: 62px 0 70px;
  }

  &__block {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba($neutral-light, 0.5);
  }

  &__socials {
  }

  &__lang {
  }

  &__nav {
    margin: 12px auto 0;
  }

  &__copyright {
    margin: 0 auto;
    font-family: $main_font_family;
    font-weight: normal;
    font-size: 10px;
    line-height: 28px;
    color: rgba($neutral-light, 0.7);
  }
}

.footer-list {
  display: flex;
  justify-content: space-between;

  &__item {
  }
}

.footer-list-item {
  display: flex;
  flex-direction: column;

  &__title {
    margin-bottom: 18px;
    color: $neutral-light;
    font-family: $main_font_family;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 2px;
  }

  &__links {
  }

  &__link {
    color: $neutral-light;
    font-family: $main_font_family;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 28px;
    letter-spacing: 2px;
    text-decoration: none;
  }
}
