.header {
  padding: 28px 0;
  background: rgba($neutral-dark, 0.5);

  &--theme-dark {
    background: $neutral-dark;
  }

  &::after {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: inline-block;
    background: rgba($neutral-dark, 0.4);
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.8s, visibility 0.8s;
  }

  &--is-open {
    &::after {
      visibility: visible;
      opacity: 1;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
  }

  &__phone {
    color: $neutral-light;
    font-family: $main_font_family;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 4px;
    text-decoration: none;
  }

  &__logo {
    margin: 0 auto;
  }

  &__nav {
    margin-right: 50px;
  }

  &__burger {
  }
}

.header-phone {
}
