.h1 {
  $self: &;
  display: flex;
  flex-direction: column;

  &--size {
    &-sm {
      #{$self}__text {
        font-size: 50px;
        line-height: 61px;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
    }

    &-md {
      #{$self}__text {
        font-weight: bold;
        font-size: 90px;
        line-height: 110px;
      }
    }

    &-l {
      #{$self}__text {
        &--thin {
          font-weight: normal;
          font-size: 50px;
          line-height: 61px;
          letter-spacing: 1px;
        }

        &--bold {
          font-weight: bold;
          font-size: 110px;
          line-height: 134px;
        }
      }
    }
  }

  &--theme {
    &-dark {
      #{$self}__text {
        color: $neutral-dark;
      }
    }
  }

  &--center {
    text-align: center;
  }

  &__text {
    color: $neutral-light;
    font-family: $font_family;
  }
}

.h2 {
  $self: &;

  &--different {
    #{$self}__text {
      line-height: 70px;
      font-feature-settings: 'tnum' on, 'lnum' on, 'ss01' on, 'ss02' on,
        'salt' on, 'case' on, 'liga' off;
    }
  }

  &--size {
    &-md {
    }
  }

  &--theme {
    &-light {
      #{$self}__text {
        color: $neutral-light;
      }
    }

    &-dark {
      #{$self}__text {
        color: $neutral-dark;
      }
    }
  }

  &__text {
    display: block;
    font-family: $font_family;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 61px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}
