.history {
  padding: 145px 0 114px;
  background-color: $neutral-dark;

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__img {
    flex: 0 0 675px;
  }

  &__info {
    flex: 0 0 628px;
    margin-top: 82px;

    .info {
      &__line {
        &--align {
          &-center {
            left: calc(50% - 45px);
          }
        }
      }
    }
  }
}

.history-img {
  position: relative;

  &::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: -75px;
    left: -80px;
    width: 100%;
    height: 100%;
    background: #333333;
    z-index: 0;
  }

  &__file {
    position: relative;
    z-index: 1;
  }
}
