.info {
  $self: &;
  position: relative;

  &--relax {
    &--1 {
      padding: 226px 156px 268px 240px;
      background-color: $neutral-light;

      #{$self}__line {
        left: calc(50% - 38px);
      }
    }

    &--2 {
      padding: 104px 240px 0 0;
    }
  }

  &--rooms {
    #{$self}__line {
      height: 60px;

      &--align {
        &-center {
          top: -94px;
        }
      }
    }
  }

  &--restoran {
    padding: 170px 100px 108px 244px;

    #{$self}__line {
      bottom: 108px;
      height: 60px;
    }
  }

  &--text-item {
    padding-left: 44px;
    border-left: 1px solid $neutral-dark;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__subtitle {
    margin-top: 20px;
    margin-left: 228px;
    color: $neutral-dark;
    font-family: $main_font_family;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: lowercase;
  }

  &__desc {
    margin-bottom: 34px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    margin-top: 43px;
  }

  &__line {
    position: absolute;
    width: 1px;
    height: 78px;

    &--align {
      &-center {
        top: -156px;
        left: 50%;
        transform: translateX(-50%);
      }

      &-end {
        top: auto;
        bottom: 74px;
      }

      &-left {
      }
    }

    &--light {
      background-color: $neutral-light;
    }

    &--dark {
      background-color: $neutral-dark;
    }
  }
}
