.lang-switch {
  $self: &;

  &--footer {
    #{$self}__text {
      font-weight: 500;
      font-size: 10px;
      line-height: 28px;
      text-transform: capitalize;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__text {
    color: $neutral-light;
    font-family: $main_font_family;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 4px;
    text-transform: uppercase;
  }

  &__list {
    display: none;
  }

  &__angle {
    display: inline-block;
    width: 11px;
    height: 7px;
    margin-right: 6px;
  }

  &__caret {
    display: inline-block;
    width: 6px;
    height: 4px;
    border-top: solid 3px $neutral-light;
    border-left: solid 4px transparent;
    border-right: solid 3px transparent;
  }
}
