.link {
  $self: &;
  display: flex;
  align-items: center;
  text-decoration: none;

  &--align {
    &-right {
      justify-content: flex-end;
    }
  }

  &--room-info {
    padding: 8px 12px;
    border-left: 1px solid #c4c4c4;

    #{$self}__text {
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      text-decoration: none;
    }
  }

  &__text {
    font-family: $main_font_family;
    font-style: normal;
    font-weight: normal;
    text-decoration: underline;
    text-transform: uppercase;

    &--size {
      &-md {
        font-size: 12px;
        line-height: 28px;
        letter-spacing: 2px;
      }

      &--l {
      }
    }

    &--theme {
      &-light {
        color: rgba($neutral-light, 0.8);
      }
    }
  }

  &__arrow {
    margin-left: 8px;
    width: 11px;
    height: 10px;
  }
}
