.nav {
  $self: &;

  &--is-open {
    #{$self}__menu {
      transform: translate3d(0, 0, 0);
    }
  }

  &--footer {
  }

  &__top {
    display: none;
  }

  &__logo {
  }

  &__burger {
  }

  &__lang {
  }

  &__menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    transform: translate3d(100%, 0, 0);
    transition: transform 0.8s ease-in-out 0.1s;
  }

  &__list {
    display: flex;
  }

  &__item {
    margin: 0 10px;
  }

  &__link {
    color: $neutral-light;
    font-family: $main_font_family;
    font-weight: 500;
    font-size: 10px;
    line-height: 28px;
    text-decoration: none;
  }
}

.nav-menu {
  display: flex;
  justify-content: flex-end;
  overflow-y: auto;

  &__item {
    position: relative;
    width: 690px;
    margin-top: 130px;
    z-index: 1;
  }
}

.nav-list {
  padding: 82px 0 82px 90px;
  background: rgba($neutral-dark, 0.8);
  overflow-y: auto;

  &__item {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    color: $neutral-light;
    font-family: $main_font_family;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    text-decoration: none;
  }
}
