.news {
  &__inner {
  }

  &__title {
    margin-top: 110px;
    margin-bottom: 40px;
  }

  &__filter {
    margin-bottom: 52px;
  }

  &__items {
  }
}

.news-items {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -48px;

  &__item {
    width: calc(100% / 2 - 96px);
    margin: 0 48px 110px;
  }
}

.news-item {
  &__top {
    position: relative;
  }

  &__img {
  }

  &__info {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 40px 40px 36px 60px;
    background-color: $neutral-light;
  }

  &__name,
  &__time {
    font-family: $main_font_family;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    text-transform: uppercase;
  }

  &__time {
    color: #717171;
  }

  &__desc {
    margin-top: 30px;
    font-family: $main_font_family;
    font-weight: 500;
    font-size: 25px;
    line-height: 28px;
    text-align: justify;
  }
}

.news-item-img {
  position: relative;
  padding-bottom: 68.2%;

  &__file {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
