.page {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;

  &__header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 130px;
    z-index: 9999;

    &--dark {
      position: relative;
    }
  }

  &__content {
  }

  &__footer {
    margin-top: auto;
  }
}
