.r-slider {
  position: relative;

  &__inner {
  }

  &__block {
    position: absolute;
    top: 58px;
    right: -214px;
    display: flex;
    align-items: center;
  }

  &__item {
  }

  &__img {
  }

  &__controls {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
  }

  &__btn {
    display: flex;
    width: 20px;
    height: 14px;
    border: none;
    background-color: transparent;

    &[disabled] {
      display: none;
    }

    &--prev {
      transform: rotate(180deg);
    }
  }

  &__icon {
    width: 100%;
    height: 100%;
    fill: $neutral-light;
    opacity: 0.7;
  }

  .tns-nav {
    padding: 10px 4px;
    background: rgba($neutral-light, 0.1);
    transform: matrix(1, 0, 0, -1, 0, 0);

    & [aria-controls] {
      width: 12px;
      height: 12px;
      margin: 0 10px;
      border-radius: 50%;
      border: none;
      background: rgba($neutral-light, 0.2);

      &.tns-nav-active {
        background: $neutral-light;
      }
    }
  }
}
