.relax {
  background-color: #1d1d1d;

  &__inner {
    display: flex;
    flex-wrap: wrap;
  }

  &__col {
    flex: 0 0 50%;
  }

  &__info {
    &--1 {
    }

    &--2 {
    }
  }

  &__img {
    &--lg {
    }

    &--sm {
      width: calc(100% - 156px);
    }
  }
}

.relax-img {
  position: relative;

  &--sm {
    padding-bottom: 83.4%;
  }

  &--lg {
    padding-bottom: 98.5%;
  }

  &__file {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
  }
}
