.restoran {
  background-color: $neutral-dark;

  &__inner {
    display: flex;
  }

  &__info,
  &__img {
    flex: 0 0 960px;
  }
}

.restoran-img {
  position: relative;
  padding-bottom: 41.8%;

  &__file {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
