.rooms {
  padding: 158px 0 125px;
  background-color: $neutral-dark;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__info {
  }

  &__tabs {
    margin-bottom: 50px;
  }
}

.room {
  display: flex;
  align-items: center;

  &__slider {
    flex: 0 0 953px;
  }

  &__info {
    position: relative;
    flex: 0 0 538px;
    margin-top: 25px;
    margin-left: -44px;
    z-index: 1;
  }
}

.room-info {
  padding: 55px 150px 98px 92px;
  background-color: #1d1d1d;

  &__title {
    margin-bottom: 35px;
    color: rgba($neutral-light, 0.8);
    font-family: $main_font_family;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  &__addition {
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
  }
}

.room-info-addition {
  display: flex;

  &__icon {
    &--bed,
    &--room {
      width: 17px;
      height: 16px;
      margin-right: 25px;
      fill: rgba($neutral-light, 0.8);
    }

    &--person {
      width: 24px;
      height: 11px;
      margin-right: 18px;
      stroke: rgba($neutral-light, 0.8);
    }
  }

  &__text {
    color: rgba($neutral-light, 0.8);
    font-family: $main_font_family;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: capitalize;
  }
}
