.socials {
  &__link {
    display: inline-block;
    margin: 0 8px;

    &:first-child {
      margin-left: 0;
    }

    &--facebook {
      width: 8px;
      height: 15px;
    }

    &--twitter {
      width: 15px;
      height: 12px;
    }

    &--instagram {
      width: 15px;
      height: 15px;
    }
  }

  &__icon {
    width: 100%;
    height: 100%;
  }
}
