.tabs {
  &__item {
    margin: 0 25px;
  }
}

.tab-item {
  $self: &;
  position: relative;
  display: inline-block;
  border: none;
  border-radius: 0;
  background-color: transparent;
  font-size: inherit;

  &::after {
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 1px solid $neutral-light;
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform 0.4s;
  }

  &:hover {
    &::after {
      transform: scaleX(1);
    }

    #{$self}__text {
      color: $neutral-light;
    }
  }

  &--is-active {
    &::after {
      transform: scaleX(1);
    }

    #{$self}__text {
      color: $neutral-light;
    }
  }

  &__text {
    color: rgba($neutral-light, 0.8);
    font-family: $main_font_family;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: lowercase;
    transition: color 0.4s;
  }
}

.tab-contents {
  &__item {
  }
}

.tab-content {
  display: none;

  &--is-active {
    display: block;
    animation: fade 0.4s;
  }

  &__inner {
  }
}
