.testimonials {
  padding: 0 0 90px;

  &__inner {
  }

  &__slider {
  }
}

.t-slider {
  &__inner {
  }

  &__item {
  }

  &__controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  &__btn {
    display: flex;
    width: 24px;
    height: 24px;
    margin: 0 30px;
    background-color: transparent;
    border: none;
  }

  &__icon {
    width: 100%;
    height: 100%;
    fill: rgba($neutral-dark, 0.6);
  }

  .tns-ovh {
    padding-top: 164px !important;
  }
}

.testimonial {
  position: relative;
  text-align: center;

  &__line {
    position: absolute;
    top: -114px;
    left: 50%;
    width: 1px;
    height: 60px;
    background-color: $neutral-dark;
    transform: translate(-50%, 0);
  }

  &__icon {
    width: 80px;
    height: 62px;
  }

  &__text {
    max-width: 720px;
    margin: 46px auto 38px;
    text-align: center;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__title,
  &__subtitle {
    color: #666666;
    font-family: $main_font_family;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
  }

  &__subtitle {
    font-weight: normal;
  }
}
