.text {
  font-family: $main_font_family;
  font-style: normal;
  font-weight: normal;
  text-align: justify;

  &--size {
    &-md {
      font-size: 16px;
      line-height: 28px;
      letter-spacing: 2px;
    }
  }

  &--theme {
    &-light {
      color: $neutral-light;
    }

    &-dark {
      color: $neutral-dark;
    }
  }
}
