.text-content {
  &__top {
    margin: 110px 0 76px;
  }

  &__text {
    max-width: 762px;
    margin: 0 auto;
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: $neutral-dark;
  }

  &__items {
  }
}

.text-items {
  display: flex;
  flex-direction: column;

  &__item {
    margin-bottom: 74px;
  }
}

.text-item {
  $self: &;
  display: flex;

  &--right {
    #{$self}__img {
      order: 5;
    }

    #{$self}__info {
      padding-right: 82px;
      padding-left: 225px;
    }
  }

  &__img {
    flex: 0 0 875px;
  }

  &__info {
    flex: 0 0 1045px;
    display: flex;
    align-items: center;
    padding-left: 82px;
    padding-right: 225px;
  }
}

.text-item-img {
  position: relative;
  padding-bottom: 30.7%;

  &__file {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
