.welcome {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba($neutral-dark, 0.4);
    z-index: 1;
  }

  &__video {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url($path_img + 'welcome-bg.png') center/cover no-repeat;
    z-index: 0;
  }

    &__inner {
      position: relative;
      z-index: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__title {
    }

    &__subtitle {
      margin-top: 20px;
      color: $neutral-light;
      font-family: $main_font_family;
      font-weight: normal;
      font-size: 19px;
      line-height: 23px;
      letter-spacing: 4px;
    }

  &__btn {
    margin: 90px auto 0;
  }
}
