html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  // outline: 1px solid red;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

button {
  font-size: inherit;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.page-link-list {

  li {
    margin: 20px;
  }

  a {
    color: $neutral-dark;
    font-size: 32px;
    text-decoration: none;
  }

}


