@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

@font-face {
  font-family: 'Constantia';
  src: url('../fonts/constantia/regular/Constantia.woff2') format('woff2'),
    url('../fonts/constantia/regular/Constantia.woff') format('woff'),
    url('../fonts/constantia/regular/Constantia.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Constantia';
  src: url('../fonts/constantia/bold/Constantia-Bold.woff2') format('woff2'),
    url('../fonts/constantia/bold/Constantia-Bold.woff') format('woff'),
    url('../fonts/constantia/bold/Constantia-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy Regular'), local('Gilroy-Regular'),
    url('../fonts/gilroy/regular/Gilroy-Regular.woff2') format('woff2'),
    url('../fonts/gilroy/regular/Gilroy-Regular.woff') format('woff'),
    url('../fonts/gilroy/regular/Gilroy-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
