$breakpoints-media: (
  'note10-landscape': 2000px,
  'ipadPro-landscape': 1100px,
  'iphoneX-landscape': 825px,
  'ipad-portrait': 760px,
  'iphone6-landscape': 740px,
  'iphone4-landscape': 500px,
) !default;

$breakpoints: map-merge($breakpoints-media, $breakpoints);

@mixin pos-fixed {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
