include blocks/header.pug
include blocks/footer.pug
include blocks/svg.pug
include blocks/check-form.pug
include blocks/content-head.pug
include blocks/text-item.pug
include blocks/news-item.pug

doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    block title

    link(href="css/main.css" rel="stylesheet")
  body.page

    block header
      +header('page__header')

    .page__content
      block content

    +footer('page__footer')


    script(src="js/vendor.js")
    script(src="js/main.js")


