doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    title Links

    link(href="css/main.css" rel="stylesheet")
  body.page

    ul.page-link-list
      li
        a(href="main.html") Main
      li
        a(href="meetings.html") Meetings
      li
        a(href="sauna-spa.html") Sauna&Spa
      li
        a(href="restaurant.html") Restaurant & Bar
      li
        a(href="local-area.html") Local Area
      li
        a(href="news.html") News