extends base.pug

block title
  title Local Area
block content

  main.content
    +content-head('Local Area', 'local-area-img')
    .text-content 
      .text-content__top 
        p.text-content__text Platres is a place where visitors can enjoy various activities, discovering new attractions and destinations that will be filled with interesting days of vacation. Anytime you plan to visit the hotel in Platres is guarantee that your holiday will be unique and memorable.

      .text-items.text-content__items
        +text-item({
          className: 'text-items__item',
          title: ['Platres Cultural', 'Centre'],
          desc: 'The building of the old Municipal Market, next to the offices of the Community Council, built in 1913 and designed by the Greek architect, was created to meet the needs of the tourist industry of Platres that were growing year by year.',
          imgFile: 't-item-img-10'
        })
        +text-item({
          className: 'text-item--right text-items__item',
          title: ['Millomeris Water', 'Falls - 0.3 km'],
          desc: 'The Millomeri waterfall is located between Platres and Pera Pedi villages, in the southeastern area of Platres. ',
          imgFile: 't-item-img-11'
        })
        +text-item({
          className: 'text-items__item',
          title: ['Caledonia Nature', 'Trail - 2.3 km'],
          desc: 'One of the most beautiful hiking trails in the Troodos mountains is the Caledonia waterfall trail',
          imgFile: 't-item-img-12'
        })
        +text-item({
          className: 'text-item--right text-items__item',
          title: ['Chantara', 'Waterfalls - 5.8 km'],
          desc: 'Chantara Waterfalls are one of the most beautiful waterfall in Cyprus. Also known locally at the Handara waterfalls, this waterfall is easily accessible by road.',
          imgFile: 't-item-img-13'
        })
        +text-item({
          className: 'text-items__item',
          title: ['Troodos - 9 km'],
          desc: 'Troodos is the largest mountain range in Cyprus, located in roughly the center of the island. Its highest peak is Mount Olympus, also known as Chionistra, at 1,952 metres, which hosts the Sun Valley and North Face ski areas with their five ski lifts',
          imgFile: 't-item-img-14'
        })
        +text-item({
          className: 'text-item--right text-items__item',
          title: ['Troodos Ski', 'Center - 12.2 km'],
          desc: 'Troodos is the largest mountain range in Cyprus, located in roughly the center of the island. Its highest peak is Mount Olympus, also known as Chionistra, at 1,952 metres, which hosts the Sun Valley and North Face ski areas with their five ski lifts',
          imgFile: 't-item-img-15'
        })
        +text-item({
          className: 'text-items__item',
          title: ['Prodromos', 'Reservoir - 15.2 km'],
          desc: 'The Prodromos water reservoir was constructed in 1962 as a riverside basin, made with soil. It is 10 meters deep, with a surface area of ​​approximately 22 square meters, and can hold up to 122,000 cubic meters of water.',
          imgFile: 't-item-img-16'
        })