extends base.pug

block title
  title Main
block content

  main.content
    section.welcome
      .welcome__video
      .welcome__inner
        h1.h1.h1--size-l.h1--center.welcome__title
          span.h1__text.h1__text--thin WELCOME TO
          span.h1__text.h1__text--bold Spa Hotel
        p.welcome__subtitle Magical location at the island of Cyprus.

        button.button.button--size-md.button--theme-lighter.welcome__btn
          span.button__text BOOK
    section.c-form 
      +check-form("c-form__form")

    section.history
      .history__row.container

        .history-img.history__img
            img.history-img__file(src="images/history-img.png", alt="...")
        

        .info.history__info 
          h2.h2.h2--different.h2--size-md.h2--theme-light.info__title
            span.h2__text Through history ... 
            span.h2__text over 100 years
          p.text.text--size-md.text--theme-light.info__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.
          a(href="#").link.link--align-right.info__link  
            span.link__text.link__text--size-md.link__text--theme-light more information
            +svg('images/sprite.svg', 'arrow-right')(class='link__arrow')
          span.info__line.info__line--light.info__line--align-center

    section.relax 
      .relax__inner
        .relax__col 
          .info.info--relax.info--relax--1.relax__info.relax__info--1 
            h2.h2.h2--size-md.h2--theme-dark.info__title 
              span.h2__text two indoor and 
              span.h2__text outdoor pools
            p.info__subtitle with crystal clear water
            span.info__line.info__line--dark.info__line--align-center.info__line--align-end
          .relax-img.relax-img--sm.relax__img.relax__img--sm 
            img(src="images/relax-2.png", alt="...").relax-img__file
        .relax__col  
          .relax-img.relax-img--lg.relax__img.relax__img--lg 
            img(src="images/relax-1.png", alt="...").relax-img__file
          
          .info.info--relax.info--relax--2.relax__info.relax__info--2 
            p.text.text--size-md.text--theme-light.info__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.
            p.text.text--size-md.text--theme-light.info__desc Esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis.
            a(href="#").link.link--align-right.info__link  
              span.link__text.link__text--size-md.link__text--theme-light more information
              +svg('images/sprite.svg', 'arrow-right')(class='link__arrow')


    section.rooms 
      .rooms__inner.container 
        .info.info--rooms.rooms__info 
          h2.h2.h2--size-md.h2--theme-light.info__title 
            span.h2__text rooms 
          span.info__line.info__line--light.info__line--align-center
        .tabs.rooms__tabs 
          - const tabs = ['standart', 'deluxe', 'panoramic', 'luxury residences', 'accissible rooms']
          each tab in tabs 
            if tab === 'deluxe'
              button.tab-item.tab-item--is-active.tabs__item.js-tab(data-content=`${tab.split(" ")[0]}`)
                span.tab-item__text= tab
            else 
              button.tab-item.tabs__item.js-tab(data-content=`${tab.split(" ")[0]}`) 
                span.tab-item__text= tab
        .tab-contents 
          each tab in tabs 

            if tab === 'deluxe'
              .tab-content.tab-content--is-active.tab-contents__item(id=`${tab.split(" ")[0]}`) 
                .tab-content__inner 
                  .room 
                    .r-slider.room__slider.js-r-slider 
                      .r-slider__inner
                        - const rItems = [1,2, 3, 4];
                        each rItem in rItems 
                          .r-slider__item
                            img.r-slider__img(src="images/r-slider-img.png", alt="...")
                      .r-slider__controls.js-r-slider-controls
                        button.r-slider__btn.r-slider__btn--prev
                          +svg("images/sprite.svg","rslider-arrow")(class="r-slider__icon")
                        button.r-slider__btn.r-slider__btn--next
                          +svg("images/sprite.svg","rslider-arrow")(class="r-slider__icon")
                    .room-info.room__info
                      h3.room-info__title De luxe room
                      
                      - const aInfos = [{text: 'King, One rollaway bed or one crib', icon: 'icon-bed'}, {text: '60 m2', icon: 'icon-room'}, {text: '3 adults, or 2 adults and 1 child', icon: 'icon-person'}];
                      each aInfo in aInfos
                        .room-info-addition.room-info__addition 
                          +svg("images/sprite.svg", aInfo.icon)(class=`room-info-addition__icon room-info-addition__icon--${aInfo.icon.split('-')[1]}`)
                          p.room-info-addition__text= aInfo.text
                      a(href="#").link.link--room-info.room-info__link  
                        span.link__text.link__text--size-l.link__text--theme-light view details
                        +svg('images/sprite.svg', 'arrow-right')(class='link__arrow') 
            else 
              .tab-content.tab-contents__item(id=`${tab.split(" ")[0]}`) 
                .tab-content__inner 
                  .room 
                    .r-slider.room__slider.js-r-slider 
                      .r-slider__inner
                        - const rItems = [1,2, 3, 4];
                        each rItem in rItems 
                          .r-slider__item
                            img.r-slider__img(src="images/r-slider-img.png", alt="...")
                      .r-slider__controls.js-r-slider-controls
                        button.r-slider__btn.r-slider__btn--prev
                          +svg("images/sprite.svg","rslider-arrow")(class="r-slider__icon")
                        button.r-slider__btn.r-slider__btn--next
                          +svg("images/sprite.svg","rslider-arrow")(class="r-slider__icon")
                    .room-info.room__info
                      h3.room-info__title De luxe room
                      
                      - const aInfos = [{text: 'King, One rollaway bed or one crib', icon: 'icon-bed'}, {text: '60 m2', icon: 'icon-room'}, {text: '3 adults, or 2 adults and 1 child', icon: 'icon-person'}];
                      each aInfo in aInfos
                        .room-info-addition.room-info__addition 
                          +svg("images/sprite.svg", aInfo.icon)(class=`room-info-addition__icon room-info-addition__icon--${aInfo.icon.split('-')[1]}`)
                          p.room-info-addition__text= aInfo.text
                      a(href="#").link.link--room-info.room-info__link  
                        span.link__text.link__text--size-l.link__text--theme-light view details
                        +svg('images/sprite.svg', 'arrow-right')(class='link__arrow') 

    section.relax 
      .relax__inner
        .relax__col 
          .info.info--relax.info--relax--1.relax__info.relax__info--1 
            h2.h2.h2--size-md.h2--theme-dark.info__title 
              span.h2__text SPA center and 
              span.h2__text Relax Sauna 
            p.info__subtitle bath & massage rooms
            span.info__line.info__line--dark.info__line--align-center.info__line--align-end
          .relax-img.relax-img--sm.relax__img.relax__img--sm 
            img(src="images/relax-4.png", alt="...").relax-img__file
        .relax__col  
          .relax-img.relax-img--lg.relax__img.relax__img--lg 
            img(src="images/relax-3.png", alt="...").relax-img__file
          
          .info.info--relax.info--relax--2.relax__info.relax__info--2 
            p.text.text--size-md.text--theme-light.info__desc After a lively day outdoors, relaxing in our Finnish sauna, steambath or whirlpool is just the right thing. This will help you revitalize for further unforgettable activities in our exciting mountain region and hotel. We have a number of relaxing options to offer you
            p.text.text--size-md.text--theme-light.info__desc By pouring water infused with a balm of mint and other mountain herbs over the hot rocks, the humidity is increased dramatically over the short-term, causing a pleasantly relaxing sensation. 
            a(href="#").link.link--align-right.info__link  
              span.link__text.link__text--size-md.link__text--theme-light more information
              +svg('images/sprite.svg', 'arrow-right')(class='link__arrow')

    section.restoran 
      .restoran__inner
        .info.info--restoran.restoran__info 
          h2.h2.h2--size-md.h2--theme-light.info__title
            span.h2__text Restaurant and  
            span.h2__text Bar | Garden
          p.text.text--size-md.text--theme-light.info__desc The Rendezvous Restaurant & Garden and Savalas Bar can satisfy any culinary preferences and offer a unique and memorable experience throughout your stay or on your day’s visit to Platres village. 
          a(href="#").link.info__link  
            span.link__text.link__text--size-md.link__text--theme-light more information
            +svg('images/sprite.svg', 'arrow-right')(class='link__arrow')
          span.info__line.info__line--light.info__line--align-end.info__line--align-left
        .restoran-img.restoran__img
          img.restoran-img__file(src="images/restoran-img.png", alt="...")
            
    section.testimonials 
      .testimonials__inner.container 
        .t-slider.testimonials__slider.js-t-slider
          .t-slider__inner 
            - const testimonials = [{icon: 'icon-blockquote', text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut ad minim veniam, quis nostrud exercitation.', title: 'John Doe',  subtitle: 'Solo Traveler'}, {icon: 'icon-blockquote', text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut ad minim veniam, quis nostrud exercitation.', title: 'John Doe',  subtitle: 'Solo Traveler'}, {icon: 'icon-blockquote', text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut ad minim veniam, quis nostrud exercitation.', title: 'John Doe',  subtitle: 'Solo Traveler'}, {icon: 'icon-blockquote', text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut ad minim veniam, quis nostrud exercitation.', title: 'John Doe',  subtitle: 'Solo Traveler'}];
            each t in testimonials
              .testimonial.t-slider__item
                span.testimonial__line 
                +svg('images/sprite.svg', `${t.icon}`)(class='testimonial__icon')
                p.text.text--size-md.text--theme-dark.testimonial__text= t.text
                h3.testimonial__title= t.title 
                span.testimonial__subtitle= t.subtitle
          .t-slider__controls
            button.t-slider__btn.t-slider__btn--prev
              +svg("images/sprite.svg","angle-left")(class="t-slider__icon")
            button.t-slider__btn.t-slider__btn--next
              +svg("images/sprite.svg","angle-right")(class="t-slider__icon")
        



