extends base.pug

block title
  title Meetings
block content

  main.content
    +content-head('Meetings & Events', 'meeting-img')
    .text-content 
      .text-content__top 
        p.text-content__text Whether it’s a confidential board meeting in a private setting, or a large global sales summit for your most valued guests, our expert in-house teams work tirelessly to ensure our multi-functional, state-of-the-art spaces provide the ultimate in privacy and comfort for every size of meeting.
      .text-items.text-content__items
        +text-item({
          className: 'text-items__item',
          title: ['MEETING EXPERTS |', 'events'],
          desc: 'With years of experience creating settings that deliver the highest levels of productivity, our talented people strive to impress – developing strong connections with your team, crafting highly customized itineraries and executing every meeting flawlessly.',
          imgFile: 't-item-img-1'
        })
        +text-item({
          className: 'text-item--right text-items__item',
          title: ['beautiful FLEXIBLE', 'VENUES'],
          desc: 'From breakout sessions to large conferences, our world-class venues effortlessly adapt to meet your precise meeting needs. Thoughtfully designed, each of these inspiring spaces provides exclusivity, privacy and access to the very latest technology.',
          imgFile: 't-item-img-2'
        })
        +text-item({
          className: 'text-items__item',
          title: ['INSPIRING BREAKS'],
          desc: 'We are experts at creating customized breaks that keep your guests motivated and energized. From poolside yoga to a midday sail and evening cooking lessons with our experienced Chefs, we bring the very best of the destination to you, seamlessly complementing and enhancing your meeting agenda.',
          imgFile: 't-item-img-3'
        })