extends base.pug

block title
  title News

block header
    +header('header--theme-dark page__header page__header--dark')

block content

  main.content
    section.news
      .news__inner.container 
        h1.h1.h1--theme-dark.h1--size-sm.news__title
          span.h1__text News/Events
        ul.c-filter.news__filter.js-filter 
          - const filters = ['All', 'News', 'Adventure', 'Events', 'Inspired'];
          each filter in filters 
            if filter === 'All'
              li.c-filter__item
                a(class="c-filter__link c-filter__link--is-active" href="#" data-filter=`${filter.toLowerCase()}`)= filter
            else 
              li.c-filter__item
                a(class="c-filter__link" href="#" data-filter=`${filter.toLowerCase()}`)= filter
            
        .news-items.news__items 
          +news-item({
            category: 'adventure',
            className: 'news-items__item',
            imgFile: "news-img-1",
            name: 'Adventure',
            time: '29 sep 2021',
            desc: 'An amazing adventure in the mountain reserves.'
          })
          +news-item({
            category: 'news',
            className: 'news-items__item',
            imgFile: "news-img-2",
            name: 'News',
            time: '25 sep 2021',
            desc: 'Big discounts on air travel in the fall season.'
          })
          +news-item({
            category: 'events',
            className: 'news-items__item',
            imgFile: "news-img-3",
            name: 'Events',
            time: ' 29 sep 2021',
            desc: 'How to prepare for the start of your vacation.'
          })
          +news-item({
            category: 'inspired',
            className: 'news-items__item',
            imgFile: "news-img-4",
            name: 'Inspired',
            time: ' 25 sep 2021',
            desc: 'The beginning of a new fall season at low prices.'
          })
      
