extends base.pug

block title
  title Restaurant & Bar
block content

  main.content
    +content-head('Restaurant & Bar', 'restaurant-img')
    .text-content 
      .text-content__top 
        p.text-content__text Qualified and friendly staff of our restaurant, exquisite European cuisine, luxurious interior filled with pleasant sound of light background music, will allow you to quickly and naturally relax after hard weekdays and plunge into the atmosphere of relaxation and hospitality of our hotel. Waiting for you!

      .text-items.text-content__items
        +text-item({
          className: 'text-items__item',
          title: ['beautiful modern', 'interior'],
          desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
          imgFile: 't-item-img-7'
        })
        +text-item({
          className: 'text-item--right text-items__item',
          title: ['experienced', 'chefs'],
          desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. ',
          imgFile: 't-item-img-8'
        })
        +text-item({
          className: 'text-items__item',
          title: ['helpful service', 'staff'],
          desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed.',
          imgFile: 't-item-img-9'
        })