extends base.pug

block title
  title Sauna&spa
block content

  main.content
    +content-head('Sauna & Spa', 'sauna-img')
    .text-content 
      .text-content__top 
        p.text-content__text We are very glad to present to your attention a special offer from our SPA-center and introduce you to new programs - "SPA for Two". Now you can dissolve in the bliss of pleasure with your soul mate. As many as three unforgettable trips await you towards new sensations that you will never forget and will definitely want to repeat!
      .text-items.text-content__items
        +text-item({
          className: 'text-items__item',
          title: ['quality cosmetics', 'for spa'],
          desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
          imgFile: 't-item-img-4'
        })
        +text-item({
          className: 'text-item--right text-items__item',
          title: ['beautiful', 'interior'],
          desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. ',
          imgFile: 't-item-img-5'
        })
        +text-item({
          className: 'text-items__item',
          title: ['experienced', 'medical workers'],
          desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed.',
          imgFile: 't-item-img-6'
        })